<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body class="carrito-body">

  <header class="header-carrito">
    <h1>Mi Carrito</h1>
  </header>

  <section class="carrito">
    <h2 class="titulo-carrito">Productos agregados</h2>

    <div class="producto">
      <img class="img-carrito" src="../IMG/pngwing.com.png" alt="Producto 1">
      <div class="detalle-producto">
        <p class="desc-carrito"><strong>Producto 1</strong></p>
        <p class="desc-carrito">$500</p>
      </div>
      <div class="controles">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>

    <div class="producto">
      <img class="img-carrito" src="../IMG/pngegg (1).png" alt="Producto 2">
      <div class="detalle-producto">
       <p class="desc-carrito"><strong>Producto 2</strong></p>
       <p class="desc-carrito">$320</p>
      </div>
      <div class="controles">
        <button>-</button>
        <span>2</span>
        <button>+</button>
      </div>
    </div>

    <div class="subtotal">
      Subtotal: $1140
    </div>

    <button class="confirmar">CONFIRMAR PEDIDO</button>
  </section>

  <script src="../js/carrito.js".js"></script>

</body>
</html>
