<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServerMe</title>
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="icon" href="../static/img/iconazo.ico">
</head>
<body class="body-registro">
    <div class="contenido">
        <div class="contenedorImagen">
            <img class="icono-registro" src="../static/img/iconazo.png" alt="Icono del negocio">
        </div>
        
        <div class="inputs" id="div-input">
            </div>
        
<!--         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} -->
        
        <a class="registro" id="botonEnvio">¿Olvidaste la contraseña o necesitas registrarte?</a>
    </div>

    <footer class="copyIngreso"> &copy; 2025 MIAGUMACK o ServeMe. Todos los derechos reservados.</footer>

    <script src="../static/Js/Ingreso.js"></script>
</body>
</html>